body{
    box-sizing: border-box;
    width: 1440px;
}



.header {
    display: flex;
    justify-content: space-between;
    margin: 90px 76px 0 76px;

}

.btn-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 38px;
    background: #5222d0;
    font-family: "Intro", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    border-radius: 100px;
    gap: 5px;
}
.menu {
    margin-top: 114px;
}
.menu__link {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    line-height: 160%;
    color: #5222d0;
    text-decoration: none;
    padding-right: 34px;
    
}
.main {
    max-width: 1241px;
    margin: 90px 125px 0 125px;
}
.paragr {
    font-family: "Intro", sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
}
.items {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    gap: 71px;
}
.items-last-element {
    background-color: #EC615B;
}
.items-element__text {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #000;
}

.items-two {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    gap: 71px;
}

.items-two-element {
margin-top: 25px;
}
.items-two-element__text {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 20px;
        line-height: 160%;
color: #000;
}
.items-two-last-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #ec615b;
}

.items-two-last-element__btn {
    width: 135px;
    height: 38px;
    border-radius:100px;
    background: #5222d0;
    margin: 0 212px 55px 18px;
    font-family: "Intro ", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}

.items-two-last-element__text {
    font-family: "Intro", sans-serif;;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #fff;
    margin: 25px 22px 6px 18px;
}
.items-two-last-element__email {
    width: 323px;
    height: 50px;
    background: #fff;
    font-family: "Roboto Slab", sans-serif;;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #000;
    margin: 0 22px 23px 18px;
}

@font-face {
    src: url(./font-intro/IntroDemo-BlackCAPS.otf);
    font-family: "Intro"; 
}

@font-face {
    src: url(./font-roboto-slab/RobotoSlab-VariableFont_wght.ttf);
    font-family: "Roboto Slab"; 
}